@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;400;500;700&display=swap');
@import url('template.css');
@import url('button.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1.5rem;
  font-family: 'Poppins', sans-serif;
  flex: 1;
}

.game-container {
  width: 325px;
  height: 323px;
  border: 5px solid #131313;
  border-radius: 10px;
  background-color: #131313;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  touch-action: manipulation; /* atau touch-action: none; */
}

.cell {
  width: 77px;
  height: 77px;
  background-color: #313131;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
}

.score-container {
  width: 325px;
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #eee0c9;
}

.side-container {
  display: flex;
  flex-flow: column nowrap;
  width: 330px;
}

.game-menu {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid #313131;
}

.game-explanation {
  padding: 0.5rem 1.2rem;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f4f4f4;
  border-radius: 0 0 10px 10px;
}

.game-explanation p {
  text-align: justify;
}

.game-explanation .important {
  font-size: 16px;
  color: #eee0c9;
}

kbd {
  border: 1px solid #9fa6ad;
  box-shadow: 0 1px 1px rgba(12, 13, 14, 0.15), inset 0 1px 0 0 #fff;
  background-color: #e3e6e8;
  border-radius: 4px;
  color: #232629;
  display: inline-block;
  line-height: 1.5;
  margin: 0 0.1em;
  overflow-wrap: break-word;
  padding: 0.1em 0.5em;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  font-family: inherit;
}

kbd:hover,
kbd:hover * {
  background: #ccc;
}
kbd:active,
kbd:active * {
  box-shadow: 1px 1px 0 #ddd inset;
}

.game-over {
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: 50%;
  padding: 3rem;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-cell[data-value] {
  transition: transform 0.2s, background-color 0.2s;
}

.new-tile {
  animation: appear 0.3s;
}

#restart-game,
#play-again {
  font-size: 14px;
  font-weight: 500px;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #fff;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
#restart-game:hover,
#play-again:hover {
  background-color: #eee0c9;
  color: #111;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    padding: 1.5rem 0;
  }
}

@media only screen and (max-width: 530px) {
  .popup-menu__content h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .game-menu {
    padding: 1.5rem 1rem;
  }
  .glow-on-hover {
    font-weight: 400;
    width: 96px;
    height: 48px;
    font-size: 12px;
  }
  .game-container {
    width: 275px;
    height: 275px;
  }
  .cell {
    width: 65px;
    height: 65px;
  }
  .score-container {
    width: 275px;
  }
  .side-container {
    width: 275px;
  }
}

@media only screen and (max-width: 340px) {
  .navbar {
    padding: 0 20px;
    width: 75%;
  }
  footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 290px) {
  .game-menu {
    padding: 1rem;
  }
  .glow-on-hover {
    font-weight: 300;
    width: 90px;
    height: 36px;
    font-size: 10px;
  }
  .game-container {
    width: 235px;
    height: 235px;
    border: 4px solid #131313;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  }
  .cell {
    width: 56px;
    height: 56px;
    font-size: 1em;
    font-weight: 400;
  }
  .score-container {
    width: 235px;
  }
  .side-container {
    width: 235px;
  }
  .game-explanation {
    font-size: 10px;
  }

  .game-explanation .important {
    font-size: 12px;
    color: #eee0c9;
  }
}

@media only screen and (max-width: 260px) {
  .game-container {
    width: 200px;
    height: 200px;
  }
  .cell {
    width: 47px;
    height: 47px;
  }
  .score-container {
    width: 200px;
  }
  .side-container {
    width: 200px;
  }
  .game-explanation {
    font-size: 10px;
  }

  .game-explanation .important {
    font-size: 12px;
    color: #eee0c9;
  }
  .game-menu {
    padding: 0.5rem;
  }

  .glow-on-hover {
    width: 86px;
    height: 34px;
    font-size: 8px;
  }
}
