:root {
  --dark-primary: #212121;
  --dark-secondary: #191919;
}

/* Navigation Section */
nav {
  padding-top: 22px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  background-color: var(--dark-secondary);
  box-shadow: 1px 2px 4px 0 rgb(212, 187, 147),
    -1px 2px 2px 0.5px rgb(255, 238, 214);
  font-family: 'Montserrat', sans-serif;
}

.navbar .site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64px;
}

.sound-toggle {
  color: #eee0c9;
  cursor: pointer;
  font-size: 20px;
}

.sound-toggle:hover {
  color: #fff;
}

.navbar h1,
.navbar a {
  color: #eee0c9;
  text-decoration: none;
  font-size: 20px;
}

.navbar h1 span:hover,
.navbar a:hover {
  color: #fff;
}

/* Footer Section */
footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-secondary);
  color: #eee0c9;
  min-width: 100vw;
  padding: 2rem 0;
  box-shadow: 0 -2px 4px 0 rgb(212, 187, 147), 0 -2px 0.5px rgb(255, 238, 214);
  font-family: 'Poppins', sans-serif;
}
